body, html {
    background-color: whitesmoke;
    height: 100%; !important;
}
.container{
    height: 100%;  !important;
}

*{
    word-wrap:break-word;
}

.container-fluid{
    /*height: 100%;  !important;*/
    padding: 0;
    margin: 0;
}
.row{
    /*min-width: 100%;*/
    margin: 0;
    /*margin-bottom: 30px;*/
}
.header-bar{
    /*height:60px;*/
    background-color: white;

    z-index: 10;
}

.header-links:hover{
    text-decoration: none;
    cursor: pointer;
}
.header-links:focus{
    text-decoration: none;
}

.dropdown-menu{
    left:10%; !important;
}

.jumbotron{
    border-radius: 0;
}
.btn-style:hover{
    text-decoration: none;
    cursor: pointer;
}
#logout{
    cursor: pointer;
}
