
html,body{
    height: 100%; !important;
    /*width: 100%;*/
    /*min-height:100%;!important;*/
}

.container-fluid{
    height: 100%;  !important;
    padding: 0;
    margin: 0;
}

.row{
    min-width: 100%;
    margin: 0;

}

.header-bar{
    height:60px;
    background-color: white;
    padding: 10px;
    z-index: 10;
}

.list-inline {
    padding-left: 20px;
    list-style: none;
    padding-right: 20px;
}

.li-card{
    padding: 20px;
}


.card-img-top{
    height: 200px;
}

.card{
    border-radius: 0;

}

.card:hover{
    box-shadow: 0 1px 5px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12), 0 5px 5px -3px rgba(0,0,0,.2);
    transition: all 150ms linear;
    transform:scale(1.05,1.05) ;
}

.btn-style:hover{
    text-decoration: none;
    cursor: pointer;
}


.iframe {

    width: 100%;
}
#logout{
    cursor: pointer;
}